body {
  margin: 0 auto;
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}
div,a {
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.main-container {
  min-height: 100vh;
}
.container-form {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
.footer {
  margin-top: auto;
  width: 100%;
  height: 160px;
  background-color: #f5f5f5;
  .container {
    max-width: 680px;
    .footer-main {
      padding-top: 50px;
      text-align: center;
      .footer-logo {
        font-size: 28px;
        color: #666;
      }
      .footer-text {
        font-size: 7px;
        color: #666;
      }
    }
  }
}
h1 {
  margin: 30px 0;
}
.nav-tabs {
  border-bottom: none;
  .nav-link.active{
    background-color: #f7f7f7;
    border: none;
    border-bottom: 1px solid #666;
  }
}