h1 {
  margin-left: auto;
}
.shop-table {
  margin: 0;
}
.posts_button {
  a {
      margin: 0 8px;
  }
}
.posts_table {
  tr:hover {
      cursor: pointer;
  }
}
.shop-card {
  margin: 20px;
  width: 30rem;
  .card-img-top {
    height: 300px;
    width: 470px;
  }
}
.user-link-img {
  width: 32px;
  height: 32px;
}
.icon-box {
  width: 90px;
  &__item {
    margin-left: 10px;
  }
}
.favorite-btn {
  width: 90px;
}
i.fa-reply::before {
  margin-right: 5px;
}