h1 {
  margin-left: auto;
}
.shop-table {
  margin: 0;
}
.posts_button {
  a {
      margin: 0 8px;
  }
}
.posts_table {
  tr:hover {
      cursor: pointer;
  }
}
.shop-container {
  max-width: 800px;
  margin: 0 auto;
  .shop-card {
    margin: 20px;
    border-radius: 1.2rem;
  }
  .user-link-img {
    width: 32px;
    height: 32px;
  }
  .icon-box {
    width: 90px;
    &__item {
      margin-left: 10px;
    }
  }
  .favorite-btn {
    width: 90px;
  }
  i.fa-reply::before {
    margin-right: 5px;
  }
  .top-rounded {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
  }
}