@mixin input {
  border: none;
  border-radius: 50px;
  background: #F4F8F9;
  height: 30px;
  width: 100%;
  padding-left: 35px;
}

.search-box {
  margin-right: 15px;
  position: relative;
  flex: 1 0 auto;
  .input{
    @include input;
  }
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #aaa;
}