.mypage-top {
  padding-bottom: 70px;
  width: 90%;
  .user-box {
    margin-top: 30px;
    justify-content: center;
    position: relative;
    .user-info {
      width: 80%;
      margin: 30px auto;
      .user-image {
        height: 200px;
        width: 200px;
        text-align: center;
      }
      .user-icon {
        font-size: 200px;
      }
      .user-links-btn {
        width: 70%;
        margin: 5px auto;
      }
      .user-name {
        font-size: 30px;
        font-weight: bold;
        margin: 1rem 0;
      }
      .user-follower {
        width: 50%;
      }
    }
  }
}
.user-photo {
  height: 100%;
  width: 100%;
}