.mypage-top {
  padding-bottom: 70px;
  width: 90%;
  .user-box {
    margin-top: 30px;
    justify-content: center;
    position: relative;
    .user-info {
      width: 80%;
      margin: 30px auto;
      .user-image {
        height: 200px;
        width: 200px;
        text-align: center;
      }
      .user-icon {
        font-size: 200px;
      }
      .user-links {
        @media screen and (max-width: 640px) {
          display: flex;
        }
        .user-links-btn {
          width: 70%;
          margin: 5px auto;
        }
        .link-signout {
          @media screen and (max-width: 640px) {
            letter-spacing: -0.1em;
          }
        }
      }
      .user-name {
        font-size: 30px;
        font-weight: bold;
        margin-left: 4rem;
      }
      .user-follow-box {
        margin-left: 1rem;
        .user-follower {
          width: 50%;
        }
      }
    }
  }
}
.user-photo {
  height: 100%;
  width: 100%;
}